*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --text : red;

}
html {
    font-size: 18px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(58, 225, 255);
    color: var(--text)

}
.header {
    max-width: 860px;
    margin:  0auto;
    padding: 3rem 1,5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
    color:red
}

.opciones-nav {
    display: flex;
    background-color: black;
    border: 1px solid rgb(58, 225, 255);
    border-radius: 10px;
    padding: 0,25rem;
    max-width: 520px;
    margin: 0 auto 1.5rem;
}